[submodule "uv"]
	path = uv
	url = https://github.com/astral-sh/uv
	branch = main
[submodule "CLIProxyAPI"]
	path = CLIProxyAPI
	url = https://github.com/router-for-me/CLIProxyAPI
	branch = main
[submodule "codex"]
	path = codex
	url = https://github.com/openai/codex
	branch = main
[submodule "rust-sdks"]
	path = rust-sdks
	url = https://github.com/livekit/rust-sdks
	branch = main
[submodule "pingora"]
	path = pingora
	url = https://github.com/cloudflare/pingora
	branch = main
[submodule "iggy"]
	path = iggy
	url = https://github.com/apache/iggy
	branch = master
[submodule "monoio"]
	path = monoio
	url = https://github.com/bytedance/monoio
	branch = master
[submodule "s2n-quic"]
	path = s2n-quic
	url = https://github.com/aws/s2n-quic
	branch = main
[submodule "quiche"]
	path = quiche
	url = https://github.com/cloudflare/quiche
	branch = master
[submodule "ripgrep"]
	path = ripgrep
	url = https://github.com/BurntSushi/ripgrep
	branch = master
